// Place all the styles related to the comments controller here.
// They will automatically be included in application.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/
ul.comments{
  li{
    border-left: 2px solid gray;
    padding-left: 10px;
    p{
      color: gray;
    }
  }
}
#new_comment_form{
  border-top: 2px solid gray;
}
